__pycache__/
/venv
plots/
.ipynb_checkpoints
.idea
.vscode
run_demonstration_ctrl.py
Flowsheet_Class/RandomFlowsheetGen_OC
Real_data
LM
ControlPatterns
Read_ctrl_patterns.py
run_demonstration_ctrl.py
/RandomFlowsheetGen_OC/
