appnope==0.1.4
backcall==0.2.0
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
fonttools==4.49.0
ipykernel==6.29.3
ipython==7.30.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.21.3
packaging==23.2
parso==0.8.3
pathfinding==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pyflowsheet==0.2.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.9.0
pyzmq==25.1.2
six==1.16.0
svgwrite==1.4.3
tabulate==0.8.9
tornado==6.4
traitlets==5.14.1
wcwidth==0.2.13
